.users-sidebar {
  width: 100vw;
  height: 100vh;
  width: 250px;
  background-color: #e9eaeb;
  box-sizing: border-box;
  position: relative;
  color: black;
  text-align: center;
}
.users-sidebar p {
  font-size: 1.5rem;
  font-weight: bold;
}
.users-content {
  position: fixed;
  width: inherit;
}
.users {
  text-align: right;
  margin-right: 40px;
  margin-top: 40px;
}
.users ul li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}
.users ul li .avatar {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
}
.online {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
  margin-right: 5px;
}
